/** Nothing here...yet */
@font-face {
  font-family: "Departure Mono";
  src: url("/assets/fonts/departure-mono/DepartureMono-Regular.woff2") format("woff2 supports variations"),
       url("/assets/fonts/departure-mono/DepartureMono-Regular.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: fallback;
}
