<footer slot="main-footer">

  <div class="footer">
    <!-- Found a mistake? Want to contribute? -->
    <!-- <a href="<%= on_github(resource)  %>"> Edit this page on GitHub </a> -->
    <!---->
    <!-- <div style="margin: 1.5rem 0;"></div> -->

    Built with
    <a
      href="https://www.bridgetownrb.com/"
      class="link__flex"
      rel="nofollow noopener noreferrer"
      target="_blank"
    >
      Bridgetown
      <%= render ExternalLinkIcon.new %>
    </a>

    and

    <a
      href="https://shoelace.style"
      class="link__flex"
      rel="nofollow noopener noreferrer"
      target="_blank"
    >
      Shoelace
      <%= render ExternalLinkIcon.new %>
    </a>.
  </div>
</footer>
