<details slot="header" class="mobile-table-of-contents">
  <summary
    style="
      margin: 0 auto;
      max-width: 100%;
      border: 1px dashed var(--sl-color-neutral-500);
      border-right: 0;
      border-left: 0;
    "
  >

    Table of contents
  </summary>
  <nav class="table-of-contents" aria-label="Table of contents" tabindex="-1" data-controller="scroll-spy" style="
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0;
    min-width: auto;
    margin: 0 auto;
  "
  >
  <div style="
    position: absolute;
    top: 0; left: 0;
    background: var(--sl-color-neutral-100); width: 100%; padding: 0.5rem;
    border-bottom: 1px dashed var(--sl-color-neutral-500);
    font-size: 0.85rem;
    ">
      <ol class="table-of-contents__list" style="margin: 0;">
      </ol>
    </div>
  </nav>
</details>
